// .header-hero-section {
//   position: absolute;
// }
.hero {
  position: relative;
  width: 100%;
  height: 752px;
  background-image: url(../images/photo-mobile-1x/hero-mob-1x-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2a2a2a;
}
.reservation-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //   width: 352px;
  width: 100%;
  max-width: 320px;
  //   max-width: 100%;

  padding: 16;
  border-radius: 20px;

  background: rgba(251, 252, 252, 0.8);
  box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.5);
}
.reservation-title {
  margin-bottom: 20px;

  font-family: Nunito;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  line-height: calc(48 / 40); /* 120% */
  letter-spacing: -2px;
  text-align: center;

  color: #2e688d;
}
.reservation-text {
  color: #324052;

  //   font-family: 'Roboto Condensed';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(36 / 20); /* 180% */
  letter-spacing: -0.8px;
  text-align: center;
}

.reservation-text:nth-child(3) {
  margin-bottom: 40px;
}

.reservation-btn {
  margin-right: auto;
  margin-left: auto;
  padding: 16px 102px;

  border-radius: 20px;
  border: 2px solid #2b9ee7;
  background: #c9e4ea;
  color: #2b9ee7;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(36 / 24); /* 150% */
  letter-spacing: -0.96px;
  text-align: center;

  width: 320px;
  max-width: 100%;
}

.reservation-adress {
  position: absolute;
  bottom: 0;

  color: var(--subtitle-1, #324052);

  /* bttn */
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(36 / 24); /* 150% */
  letter-spacing: -0.96px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(
    0deg,
    #fbfcfc 19.92%,
    rgba(255, 255, 255, 0) 97.11%
  );

  display: flex;
  //   width: 160px;
  //   height: 390px;
  //   transform: rotate(-90deg);
  padding: 37px 0px 37px 0px;
  //   flex-direction: column;
  justify-content: center;
  //   align-items: center;
  flex-shrink: 0;
  width: 100%;
}
