<section class="advantages-section">
  <div class="advantages-title-block">
    <h2 class="advantages-title">Особливості планування</h2>
    <span class="advantages-strip"></span>
  </div>

  <ul class="advantages-list">
    <li class="advantages-item">
      <img
        src="./images/photo-mobile-1x/building2-mob-1x-min.jpg"
        alt="Buildings"
        class="advantages-img"
      />
      <div>
        <div>
          <h3 class="advantages-item-title">88</h3>
          <p class="advantages-item-text">сучасних квартир</p>
        </div>

        <div>
          <h3 class="advantages-item-title brown-text">40+</h3>
          <p class="advantages-item-text brown-text">об’єктів інфраструктури</p>
        </div>
      </div>
    </li>
    <li></li>
  </ul>
</section>
