<header class="header-section">
  <div class="mobile-container header-mobile-nav">
    <div>
      <a class="header-logo-block">
        <svg width="60" height="60" class="logo">
          <rect width="60" height="60" fill="#825808" />
        </svg>
        <span class="logo-text">Nice View</span>
      </a>
    </div>

    <div class="header-mobile-options">
      <button class="header-lang" type="button">ua</button>
      <button class="hamburger-btn">
        <svg width="42" height="42" class="logo">
          <rect width="42" height="42" fill="#324052" />
        </svg>
      </button>
    </div>
  </div>
</header>
